html {
    font-family: Gill Sans Extrabold, sans-serif;
}

h1 {
    color: #aaa;
}

h1:hover {
    cursor: pointer;
}

div.content {
    margin: 0;
    position: absolute;
    top: 50%; 
    left: 50%; 
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.letter {
    display: inline-block;
}

div.space {
    display: inline-block;
    margin:0 8px 8px 0;
}