html {
    font-family: Gill Sans Extrabold, sans-serif;
}

h1 {
    color: #aaa;
}

h1:hover {
    cursor: pointer;
}

#content {
    margin: 0;
    position: absolute;
    top: 50%; 
    left: 50%; 
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div .letter {
    display: inline-block;
    float: left;
}

div .space {
    display: inline-block;
    float: left;
    margin:0 8px 8px 0;
}